.Section {
  height: 100vh;
  scroll-snap-align: center;
  display: flex;
  justify-content: center;
}

.Container {
  height: 100vh;
  scroll-snap-align: center;
  width: 1400px;
  display: flex;
  justify-content: space-between;
}

.Left {
  flex: 1;

  @media only screen and (max-width: 768px) {
    display: none;
  }
}

.Title {
  font-size: 74px;

  @media only screen and (max-width: 768px) {
    font-size: 60px;
  }
}

.Right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  @media only screen and (max-width: 768px) {
    align-items: center;
    text-align: center;
  }
}

.WhatWeDo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.Line {
  height: 5px;
}

.Subtitle {
  color: #da4ea2;
}

.Desc {
  font-size: 24px;
  color: lightgray;
}

.Button {
  background-color: #da4ea2;
  color: white;
  font-weight: 500;
  width: 120px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
