.Button {
  width: 100px;
  text-align: center;
  padding: 10px;
  background-color: #da4ea2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.img {
  width: 20px;
  cursor: pointer;
}

.Icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.Section {
  display: flex;
  justify-content: center;
  scroll-snap-align: center;

  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}

.Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  width: 100%;

  @media only screen and (max-width: 768px) {
    width: 100%;
    padding: 24px;
  }
}

.Links {
  display: flex;
  align-items: center;
  gap: 50px;
}

.Logo {
  height: 50px;
}

.List {
  display: flex;
  gap: 20px;
  list-style: none;

  @media only screen and (max-width: 768px) {
    display: none;
  }
}

.ListItem {
  cursor: pointer;
  color: whitesmoke;
  font-size: large;
}

a {
  outline: none;
  text-decoration: none;
}

a:hover {
  color: rgb(152, 136, 223);
  text-decoration: underline;
}
